<h5 class="program-title"> {{'ข้อมูลกนักงาน'}} </h5>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="row ">
            <div class="form-group col-lg-10 col-md-10 ">
              <h5 class="card-title">{{'รายละเอียด'}}</h5>
            </div>
            <div class="form-group col-lg-2 col-md-2 add-btn">
              <button class="btn btn-danger me-2 pe-3" *ngIf="this.empId" (click)="delete('Delete')">
                <fa-icon [icon]="deleteIcon"></fa-icon>
                {{ 'ยกเลิก' }}
              </button>
              <button class="btn btn-primary" (click)="save('Save')">
                <fa-icon [icon]="saveIcon"></fa-icon>
                {{ 'บันทึก' }}
             </button>
            </div>
          </div><br>
          <form [formGroup]="empForm">   
            <div class="row">
              <div class="form-group col-lg-3 col-md-6">
                <label class="formcontrol-label">{{'รหัสพนักงาน'}}</label>
                <input type="text" class="form-control doc-no text-center" formControlName ="employee_str_id">
              </div>
              <div class="form-group col-lg-3 col-md-6">
                <label class="formcontrol-label">{{'ชื่อจริง'}}</label>
                <input type="text" class="form-control" formControlName ="empfirst_name">
              </div>
              <div class="form-group col-lg-3 col-md-6">
                <label class="formcontrol-label">{{'นามสกุล'}}</label>
                <input type="text" class="form-control" formControlName ="emplast_name">
              </div>
              <div class="form-group col-lg-3 col-md-6">
                <label class="formcontrol-label">{{'เงินเดือน'}}</label>
                <input type="text" class="form-control" formControlName ="salary">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-lg-3 col-md-6">
                <label class="formcontrol-label"> {{'ตำแหน่ง'}} </label>
                  <ng-select placeholder="กรุณาเลือก"                    
                  [items]="masterData.positionData" 
                  bindLabel="text" 
                  bindValue="value" 
                  formControlName="department_id">
                  </ng-select>
              </div>
              <div class="form-group col-lg-3 col-md-6 form-check mt-4 fs-5">
                <input class="form-check-input" type="checkbox" formControlName ="work_status">
                <label class="formcontrol-label fs-6" for="flexCheckDefault">
                  Active
                </label>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

 