<h5 class="program-title"> {{'แอดมิน'}} </h5>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="form-row pt-3">

          </div>
          <h5 class="card-title">{{'จัดการรายการ'}}</h5><br>
          <form >   
            <!-- [formGroup]="searchform" -->
            <div class="row text-center">

                <div class="form-group col-lg-12  ">
                  <label class="formcontrol-label">{{''}}</label><br>
                  <button class="btn btn-primary me-3 pe-3 w-25" routerLink="/cus-detail"><mat-icon class="icon-center">group</mat-icon>
                    {{ 'จัดกการข้อมูลลูกค้า' }}</button>
                </div> 
            </div>
            <div class="row text-center">
                <div class="form-group col-lg-12 ">
                  <label class="formcontrol-label">{{''}}</label><br>
                  <button class="btn btn-primary me-3 pe-3 w-25" routerLink="/emp-detail"><mat-icon class="icon-center">engineering</mat-icon>
                    {{ 'จัดการข้อมูลพนักงาน' }}</button>
                </div> 
            </div>
            <div class="row text-center">
                <div class="form-group col-lg-12 ">
                  <label class="formcontrol-label">{{''}}</label><br>
                  <button class="btn btn-primary me-3 pe-3 w-25" routerLink="/task"><mat-icon class="icon-center">assignment</mat-icon>
                    {{ 'จัดการข้อมูลรายนละเอียดการซ่อม' }}</button>
                </div> 
            </div>
            <div class="row text-center">
                <div class="form-group col-lg-12 ">
                  <label class="formcontrol-label">{{''}}</label><br>
                  <button class="btn btn-primary me-3 pe-3 w-25" routerLink="/spare"><mat-icon class="icon-center">list</mat-icon>
                    {{ 'จัดการข้อมูลอะไหล่' }}</button>
                </div> 
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>

 