<h5 class="program-title"> {{'ค้นหารายการซ่อม'}} </h5>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{'ค้นหา'}}</h5>
          <form [formGroup]="searchForm">
            <div class="row">
              <div class="form-group col-lg-3 col-md-6">
                <label class="formcontrol-label"> {{'ลูกค้า'}} </label>
                  <ng-select
                    placeholder="กรุณาเลือก"
                    [items]="masterData.customerData" 
                    bindLabel="text" 
                    bindValue="value" 
                    formControlName="customerId">
                  </ng-select>
              </div>
              <div class="form-group col-lg-3 col-md-6">
                <label class="formcontrol-label"> {{'สถานะเอกสาร'}} </label>
                  <ng-select
                    placeholder="กรุณาเลือก"
                    [items]="masterData.status" 
                    bindLabel="text" 
                    bindValue="value" 
                    formControlName="docStatus">
                  </ng-select>
              </div>
              <div class="form-group col-lg-3 col-md-6">
                <label class="formcontrol-label"> {{'เลขทะเบียน'}} </label>
                  <input type="text" class="form-control" formControlName="licenseName">
              </div>
              <div class="form-group col-lg-3 col-md-6">
                <label class="formcontrol-label">{{'หมายเลขโทรศัพท์'}}</label>
                <input type="text" class="form-control" formControlName="phoneNo">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-lg-3 col-md-6" *ngIf="user.userRole !== 'customer'">
                <label class="formcontrol-label">{{ 'ตั้งแต่เลขที่เอกสาร'}} </label>
                  <ng-select
                    placeholder="กรุณาเลือก"
                    [items]="masterData.taskNo" 
                    bindLabel="text" 
                    bindValue="value" 
                    formControlName="sDocNo">
                  </ng-select>
              </div>
              <div class="form-group col-lg-3 col-md-6" *ngIf="user.userRole !== 'customer'">
                <label class="formcontrol-label"> {{ 'ถึงเลขที่เอกสาร'}} </label>
                  <ng-select
                    placeholder="กรุณาเลือก"
                    [items]="masterData.taskNo" 
                    bindLabel="text" 
                    bindValue="value" 
                    formControlName="eDocNo">
                  </ng-select>
              </div>
              <div class="form-group col-lg-3 col-md-6" *ngIf="user.userRole !== 'customer'">
                <label class="formcontrol-label"> {{'ชื่อพนักงาน'}} </label>
                <ng-select placeholder="กรุณาเลือก"
                  [items]="masterData.employee" 
                  bindLabel="text" 
                  bindValue="value" 
                  formControlName="empId">
                </ng-select>
              </div>
            </div>
            <div class="form-row pt-3">
              <div class="form-group col-md-12 col-xs-12 text-center">
                <button class="btn btn-primary me-2 pe-3" (click)="search()">
                  <fa-icon [icon]="searchicon"></fa-icon>
                  {{ 'ค้นหา' }}
                </button>
                <button class="btn btn btn-outline-dark" (click)="clear();" *ngIf="user.userRole !== 'customer'">
                  <fa-icon [icon]="deleteall"></fa-icon>
                  {{ 'ล้างข้อมูล' }}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="form-group col-lg-10 col-md-10">
              <h5 class="card-title">{{ 'รายการซ่อม' }}</h5>
            </div>
            <div class="form-group col-lg-2 col-md-2 add-btn">
              <button class="btn btn-primary" (click)="addFunction()" [hidden]="user.userRole == 'customer'">
                <fa-icon [icon]="add"></fa-icon>
                 {{ 'เพิ่มเอกสาร' }}
              </button>
            </div>

          </div>
          <div class="app-table">
            <table class="table table-striped app-table">
              <thead>
                <tr>
                  <th class="text-center" [style.width.px]="70">ลำดับ</th>
                  <th class="text-center" [style.width.px]="200">เลขที่เอกสาร</th>
                  <th class="text-center" [style.width.px]="150">วันที่เอกสาร</th>
                  <th class="text-center" [style.width.px]="200">ชื่อลูกค้า</th>
                  <th class="text-center" [style.width.px]="150">ราคารวม</th>
                  <th class="text-center" [style.width.px]="150">สถานะ</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let task of pagedData; let rowIndex = index"> 
                  <td class="text-center">
                    {{ rowIndex + 1 }}
                  </td>
                  <td class="text-center">
                    <a [routerLink]="['detail', task.taskId]" [state]="{ taskId: task.taskId }">{{ task.taskNo }}</a>
                  </td>
                  <td class="text-center">
                    {{ task.taskDate | date:"YYYY-MM-dd"}}
                  </td>
                  <td>
                    {{ task.cusName }}
                  </td>
                  <td class="text-right">
                    {{ task.taskAmt | number : '0.2-2'}}
                  </td>
                  <td class="text-center">
                    <div class="status-center" [ngClass]="{
                           'status-border-saved': task.status === 'SAVED',
                           'status-border-in-progress': task.status === 'IN_PROGRESS',
                           'status-border-complete': task.status === 'COMPLETED',
                           'status-border-cancel': task.status === 'CANCELLED',
                           'status-border-confirmed': task.status === 'CONFIRMED_PAYMENT',
                         }">
                      {{ task.statusDesc }}
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <mat-paginator 
               [length]="taskdata.length"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="onPageChange($event)">
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
    
