<h5 class="program-title"> {{'รายละเอียดการซ่อม'}} </h5>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="row ">
            <div class="form-group col-lg-10 col-md-10 ">
              <h5 class="card-title">{{'ข้อมูล'}}</h5>
            </div>
            <div class="form-group col-lg-2 col-md-2 add-btn">
              <button class="btn btn-primary me-2 pe-3" ><mat-icon class="icon-center">done</mat-icon>
                 {{ 'บันทึก' }}
              </button>
              <button class="btn btn-danger" ><mat-icon class="icon-center">clear</mat-icon>
                {{ 'ยกเลิก' }}
             </button>
            </div>
          </div>
          <form >   
            
            <div class="row">
              <div class="form-group col-lg-3 col-md-6">
                <label class="formcontrol-label">{{'เลขที่เอกสาร'}}</label>
                  <input type="text" class="form-control" >
              </div>
              <div class="form-group col-lg-3 col-md-6">
                <label class="formcontrol-label">{{'วันที่เอกสาร'}}</label>
                  <input type="text" class="form-control" >
              </div>
              <div class="form-group col-lg-3 col-md-6">
                <label class="formcontrol-label"> {{'สถานะเอกสาร'}} </label>
                  <ng-select placeholder="กรุณาเลือก"
                  [items]="masterData.status" 
                    bindLabel="text" 
                    bindValue="value" 
                    formControlName="status">
                  </ng-select>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-lg-3 col-md-6">
                <label class="formcontrol-label"> {{'ลูกค้า'}} </label>
                  <ng-select placeholder="กรุณาเลือก"
                  [items]="masterData.customerData" 
                    bindLabel="text" 
                    bindValue="value" 
                    formControlName="customer_id">
                  </ng-select>
              </div>
              <div class="form-group col-lg-3 col-md-6">
                <label class="formcontrol-label">{{'ชื่อจริง'}}</label>
                  <input type="text" class="form-control" >
              </div>
              <div class="form-group col-lg-3 col-md-6">
                <label class="formcontrol-label">{{'นามสกุล'}}</label>
                  <input type="text" class="form-control" >
              </div>
              <div class="form-group col-lg-3 col-md-6">
                <label class="formcontrol-label">{{'เบอร์โทรศัพท์'}}</label>
                  <input type="text" class="form-control" >
              </div>
            </div>

            <div class="row">
              <div class="form-group col-lg-6 col-md-6">
                <label class="formcontrol-label">{{'บริษัท'}}</label>
                <input type="text" class="form-control" >
              </div>
              <div class="form-group col-lg-6 col-md-6">
                <label class="formcontrol-label">{{'ที่อยู่'}}</label>
                <input type="text" class="form-control" >
              </div>
            </div>

            <div class="row">
              <div class="form-group col-lg-3 col-md-6">
                <label class="formcontrol-label"> {{'จังหวัด'}} </label>
                  <ng-select placeholder="กรุณาเลือก"
                  [items]="masterData.Province" 
                    bindLabel="text" 
                    bindValue="value" 
                    formControlName="province_id">
                  </ng-select>
              </div>

              <div class="form-group col-lg-3 col-md-6">
                <label class="formcontrol-label">{{'ทะเบียนรถยนต์'}}</label>
                  <input type="text" class="form-control" >
              </div>
              <div class="form-group col-lg-3 col-md-6">
                <label class="formcontrol-label"> {{'ชื่อพนักงาน'}} </label>
                  <ng-select placeholder="กรุณาเลือก"
                  [items]="masterData.Employee" 
                  bindLabel="text" 
                  bindValue="value" 
                  formControlName="employee_id">
                  </ng-select>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-lg-3 col-md-6">
                <label class="formcontrol-label">{{'วันที่เข้าอู่'}}</label>
                  <input type="text" class="form-control" >
              </div>
              <div class="form-group col-lg-3 col-md-6">
                <label class="formcontrol-label">{{'วันนัดรับ'}}</label>
                  <input type="text" class="form-control">
              </div>
            </div>


            <div class="row">
              <div class="form-group col-lg-12 col-md-12">
                <label class="formcontrol-label">หมายเหตุ</label>
                <textarea class="form-control " rows="4" placeholder="หมายเหตุเพิ่มเติม"></textarea>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="form-group col-lg-10 col-md-10">
              <h5 class="card-title">{{'อะไหล่ที่ใช้ในการซ่อม'}}</h5>
            </div>
            <div class="form-group col-lg-2 col-md-2 add-btn">
              <button class="btn btn-primary" ><mat-icon class="icon-center">add</mat-icon>
                 {{ 'เพิ่ม' }}
              </button>
            </div>
          </div><br>

          <div class="app-table">
            <button class="btn btn-primary" (click)="addTaskDetail();">
            <i class="fas fa-plus-circle"></i> {{ 'Add'}}
          </button>
            <table class="table table-striped app-table">
              <thead>
                <tr>
                  <th class="text-center" [style.width.px]="70">ลำดับ</th>
                  <th class="text-center" [style.width.px]="200">ชื่ออะไหล่</th>
                  <th class="text-center" [style.width.px]="70">จำนวน</th>
                  <th class="text-center" [style.width.px]="80">ราคา</th>
                  <th class="text-center" [style.width.px]="100">ราคารวม</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let row of dbTask.taskDetail">
                  <td class="text-center">
                    {{ row.seq }}
                  </td>
                  <td class="text-center">
                    <div *ngIf="row.form" [formGroup]="row.form">
                      <label class="formcontrol-label"> {{'รหัสอะไหล่'}} </label>
                      <ng-select
                        placeholder="กรุณาเลือก"
                        [items]="options" 
                        bindLabel="text" 
                        bindValue="value" 
                        formControlName="spare_id">
                      </ng-select>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- <mat-paginator 
               [length]="taskdata.length"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="onPageChange($event)">
            </mat-paginator> -->
          </div>
        </div>
      </div>
    </div>
  </div>