<h5 class="program-title"> {{'รายละเอียดการซ่อม'}} </h5>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="row ">
            <div class="form-group col-lg-12 col-md-12 add-btn">
              <button class="btn btn-danger me-2 pe-3" (click)="save('Cancel')" *ngIf="this.taskId" [disabled]="this.isDisbleStatus()" [hidden]="isCustomer()">
                <fa-icon [icon]="cancelIcon"></fa-icon>
                {{ 'ยกเลิก' }}
              </button>
              <button class="btn btn-primary" (click)="save('Save')" [disabled]="this.isDisbleStatus()" [hidden]="isCustomer()">
               <fa-icon [icon]="saveIcon"></fa-icon>
                {{ 'บันทึก' }} 
              </button>
            </div>
            <div class="form-group col-lg-10 col-md-10 ">
              <h5 class="card-title">{{'ข้อมูล'}}</h5>
            </div>
          </div>
          <form [formGroup]="dbTaskForm">   
            <div class="row">
              <div class="form-group col-lg-3 col-md-6" >    
                <div [hidden]="IsAuto()">
                  <label class="formcontrol-label">{{'เลขที่เอกสาร'}}</label>
                  <input type="text" class="form-control text-center doc-no" formControlName="task_no">
                </div>
              </div>
              <div class="form-group col-lg-3 col-md-6">
                <label class="formcontrol-label">{{'วันที่เอกสาร'}}</label>
                  <input type="text" class="form-control text-center" formControlName="task_date">
              </div>
              <div class="form-group col-lg-3 col-md-6">
                <label class="formcontrol-label"> {{'สถานะเอกสาร'}} </label> <span class="text-danger">*</span>
                  <ng-select 
                    placeholder="กรุณาเลือก"      
                    [items]="masterData.status" 
                    bindLabel="text" 
                    bindValue="value" 
                    formControlName="statusPhase"
                    [ngClass]="{ 'is-invalid': isInvalid('statusPhase')}">
                  </ng-select>
                  <div *ngIf="isInvalid('statusPhase')" class="validate-label">
                    กรุณาระบุข้อมูลให้ถูกต้อง
                  </div>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-lg-3 col-md-6">
                <label class="formcontrol-label"> {{'ลูกค้า'}} </label>
                  <ng-select                   
                    placeholder="กรุณาเลือก"      
                    [items]="masterData.customerData" 
                    bindLabel="text" 
                    bindValue="value" 
                    formControlName="customer_id">
                  </ng-select>
              </div>
              <div class="form-group col-lg-3 col-md-6">
                <label class="formcontrol-label">{{'ชื่อจริง'}}</label> <span class="text-danger">*</span>
                  <input type="text" class="form-control" formControlName="customer_name" [ngClass]="{ 'is-invalid': isInvalid('customer_name')}">
                  <div *ngIf="isInvalid('customer_name')" class="validate-label">
                    กรุณาระบุข้อมูลให้ถูกต้อง
                  </div>
              </div>
              <div class="form-group col-lg-3 col-md-6">
                <label class="formcontrol-label">{{'นามสกุล'}}</label> <span class="text-danger">*</span>
                  <input type="text" class="form-control" formControlName="customer_lastname" [ngClass]="{ 'is-invalid': isInvalid('customer_lastname')}">
                  <div *ngIf="isInvalid('customer_lastname')" class="validate-label">
                    กรุณาระบุข้อมูลให้ถูกต้อง
                  </div>
              </div>
              <div class="form-group col-lg-3 col-md-6">
                <label class="formcontrol-label">{{'เบอร์โทรศัพท์'}}</label> <span class="text-danger">*</span>
                  <input type="text" class="form-control" formControlName="customer_phone" [ngClass]="{ 'is-invalid': isInvalid('customer_phone')}">
                  <div *ngIf="isInvalid('customer_phone')" class="validate-label">
                    กรุณาระบุข้อมูลให้ถูกต้อง
                  </div>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-lg-6 col-md-6">
                <label class="formcontrol-label">{{'บริษัท'}}</label>
                <input type="text" class="form-control" formControlName="customer_company">
              </div>
              <div class="form-group col-lg-6 col-md-6">
                <label class="formcontrol-label">{{'ที่อยู่'}}</label> <span class="text-danger">*</span>
                <input type="text" class="form-control" formControlName="customer_address" [ngClass]="{ 'is-invalid': isInvalid('customer_address')}">
                  <div *ngIf="isInvalid('customer_address')" class="validate-label">
                    กรุณาระบุข้อมูลให้ถูกต้อง
                  </div>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-lg-3 col-md-6">
                <label class="formcontrol-label">{{'ทะเบียนรถยนต์'}}</label> <span class="text-danger">*</span>
                  <input type="text" class="form-control" formControlName="license_desc" [ngClass]="{ 'is-invalid': isInvalid('license_desc')}">
                  <div *ngIf="isInvalid('license_desc')" class="validate-label">
                    กรุณาระบุข้อมูลให้ถูกต้อง
                  </div>
              </div>
              <div class="form-group col-lg-3 col-md-6"> <span class="text-danger">*</span>
                <label class="formcontrol-label"> {{'จังหวัด'}} </label>
                  <ng-select placeholder="กรุณาเลือก"                    
                  [items]="masterData.province" 
                  bindLabel="text" 
                  bindValue="value" 
                  formControlName="province_id"
                  [ngClass]="{ 'is-invalid': isInvalid('province_id')}">
                  </ng-select>
                <div *ngIf="isInvalid('province_id')" class="validate-label">
                  กรุณาระบุข้อมูลให้ถูกต้อง
                </div>
              </div>
              <div class="form-group col-lg-3 col-md-6">
                <label class="formcontrol-label"> {{'ชื่อพนักงาน'}} </label> <span class="text-danger">*</span>
                  <ng-select placeholder="กรุณาเลือก"
                    [items]="masterData.employee" 
                    bindLabel="text" 
                    bindValue="value" 
                    formControlName="employee_id"
                    [ngClass]="{ 'is-invalid': isInvalid('employee_id')}">
                  </ng-select>
                <div *ngIf="isInvalid('employee_id')" class="validate-label">
                  กรุณาระบุข้อมูลให้ถูกต้อง
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-lg-3 col-md-6">
                <label class="formcontrol-label">{{'วันที่เข้าอู่'}}</label> <span class="text-danger">*</span>
                  <input type="text" class="form-control text-center" formControlName="start_work_date" [ngClass]="{ 'is-invalid': isInvalid('start_work_date')}">
                <div *ngIf="isInvalid('start_work_date')" class="validate-label">
                  กรุณาระบุข้อมูลให้ถูกต้อง
                </div>
              </div>
              <div class="form-group col-lg-3 col-md-6">
                <label class="formcontrol-label">{{'วันนัดรับ'}}</label>
                  <input type="text" class="form-control text-center" formControlName="appointment_date">
              </div>
              <div class="form-group col-lg-3 col-md-6">
                <label class="formcontrol-label">{{'มูลค่าการซ่อม'}}</label>
                  <input type="text" class="form-control text-right" formControlName="task_amt">
              </div>
            </div>

            <div class="row">
              <div class="form-group col-lg-12 col-md-12">
                <label class="formcontrol-label">หมายเหตุ</label>
                <textarea class="form-control form-textarea" rows="3" placeholder="หมายเหตุเพิ่มเติม" formControlName="remark"></textarea>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="form-group col-lg-10 col-md-10">
              <h5 class="card-title">{{'อะไหล่ที่ใช้ในการซ่อม'}}</h5>
            </div>
            <div class="form-group col-lg-2 col-md-2 add-btn">
              <button class="btn btn-primary" (click)="addTaskDetail();" [disabled]="this.isDisbleStatus()" [hidden]="isCustomer()">
                <fa-icon [icon]="addIcon"></fa-icon>
                 {{ 'เพิ่ม' }}
              </button>
            </div>
          </div><br>

          <div class="app-table">
            <table class="table table-striped app-table">
              <thead>
                <tr>
                  <th class="text-center" [style.width.px]="70">ลำดับ</th>
                  <th class="text-center" [style.width.px]="150">รหัสอะไหล่ <span class="text-danger">*</span></th>
                  <th class="text-center" [style.width.px]="200">ชื่ออะไหล่</th>
                  <th class="text-center" [style.width.px]="200">รายละเอียดอะไหล่</th>
                  <th class="text-center" [style.width.px]="70">จำนวน</th>
                  <th class="text-center" [style.width.px]="80">ราคา <span class="text-danger">*</span></th>
                  <th class="text-center" [style.width.px]="100">ราคารวม <span class="text-danger">*</span></th>
                  <th class="text-center" [style.width.px]="100">ลบ</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let row of dbTask.taskDetail; let rowIndex = index">
                  <td class="text-center center">
                    {{ row.seq }}
                  </td>
                  <td class="text-left">
                    <div *ngIf="row.form" [formGroup]="row.form" class="spare-id">
                      <ng-select
                        placeholder="กรุณาเลือก"
                        [items]="masterData.spareData" 
                        bindLabel="text" 
                        bindValue="value" 
                        formControlName="spare_id"
                        [ngClass]="{ 'is-invalid': isInvalid('spare_id')}">
                      </ng-select>
                      <div *ngIf="isInvalid('spare_id')" class="validate-label">
                        กรุณาระบุข้อมูลให้ถูกต้อง
                      </div>
                    </div>
                  </td>
                  <td class="text-left">
                    <div *ngIf="row.form" [formGroup]="row.form">
                      <input type="text" class="form-control" formControlName="spare_desc">
                    </div>
                  </td>
                  <td class="text-left">
                    <div *ngIf="row.form" [formGroup]="row.form">
                      <input type="text" class="form-control" formControlName="detail_description">
                    </div>
                  </td>
                  <td>
                    <div *ngIf="row.form" [formGroup]="row.form">
                      <input type="text" class="form-control text-right" formControlName="detail_qty" [ngClass]="{ 'is-invalid': isInvalid('detail_qty')}">
                    <div *ngIf="isInvalid('detail_qty')" class="validate-label">
                      กรุณาระบุข้อมูลให้ถูกต้อง
                    </div>
                    </div>
                  </td>
                  <td>
                    <div *ngIf="row.form" [formGroup]="row.form">
                      <input type="text" class="form-control text-right" formControlName="detail_unit_price" [ngClass]="{ 'is-invalid': isInvalid('detail_unit_price')}">
                    <div *ngIf="isInvalid('detail_unit_price')" class="validate-label">
                      กรุณาระบุข้อมูลให้ถูกต้อง
                    </div>
                    </div>
                  </td>
                  <td>
                    <div *ngIf="row.form" [formGroup]="row.form">
                      <input type="text" class="form-control text-right" formControlName="detail_amt">
                    </div>
                  </td>
                  <td>
                    <div *ngIf="row.form" [formGroup]="row.form" class="pt-1">
                      <button (click)="removeTaskDetail(row, rowIndex)" class="btn btn-outline-danger btn-sm" [disabled]="isDisbleStatus() || isCustomer()">
                      <!-- <i class="far fa-trash-alt"></i> -->ลบ
                    </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- <mat-paginator 
               [length]=" dbTask.taskDetail.length"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="onPageChange($event)">
            </mat-paginator> -->
          </div>
        </div>
      </div>
    </div>
  </div>