 <h5 class="program-title"> {{'อะไหล่'}} </h5>
 
 <div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{'ค้นหา'}}</h5>
        <form [formGroup]="searchForm">
          <div class="row">
            <div class="form-group col-lg-3 col-md-6">
              <label class="formcontrol-label"> {{'ID อะไหล่'}} </label>
              <ng-select
                placeholder="กรุณาเลือก"
                [items]="masterData.spareData" 
                bindLabel="text" 
                bindValue="value" 
                formControlName="spareId">
              </ng-select>
            </div>
            <div class="form-group col-lg-3 col-md-6">
              <label class="formcontrol-label"> {{'ชื่ออะไหล่'}} </label>
                <input type="text" class="form-control" formControlName = "spareName">
            </div>
            <div class="form-group col-lg-3 col-md-6">
              <label class="formcontrol-label"> {{ 'ประเภทอะไหล่'}} </label>
              <ng-select
                placeholder="กรุณาเลือก"
                [items]="masterData.spareType" 
                bindLabel="text" 
                bindValue="value" 
                formControlName="spareTypeId">
              </ng-select>
            </div>
          </div>
         
          <div class="form-row pt-3">
            <div class="form-group col-md-12 col-xs-12 text-center">
              <button class="btn btn-primary me-2 pe-3" (click)="searchFunction()">
                <fa-icon [icon]="searchIcon"></fa-icon>
                {{ 'ค้นหา' }}</button>
              <button class="btn btn btn-outline-dark" (click)="clear();">
                <fa-icon [icon]="deleteall"></fa-icon>
                {{ 'ล้างข้อมูล' }}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
 
 <div class="row">
   <div class="col">
     <div class="card">
       <div class="card-body">
         <div class="row">
           <div class="form-group col-lg-10 col-md-10">
             <h5 class="card-title">{{'ข้อมูลอะไหล่'}}</h5>
           </div>
           <div class="form-group col-lg-2 col-md-2 add-btn">
            <button class="btn btn-primary" (click)="addFunction()" >
              <fa-icon [icon]="add"></fa-icon>
               {{ 'เพิ่มอะไหล่' }}
            </button>
          </div>
         </div><br>
         <div class="app-table">
           <table class="table table-striped app-table">
             <thead>
               <tr>
                 <th class="text-center" [style.width.px]="70">ลำดับ</th>
                 <th class="text-center" [style.width.px]="70">รหัสอะไหล่</th>
                 <th class="text-center" [style.width.px]="200">ชื่ออะไหล่</th>
                 <th class="text-center" [style.width.px]="70">จำนวน</th>
                 <th class="text-center" [style.width.px]="70">จำนวนคงเหลือ</th>
                 <th class="text-center" [style.width.px]="70">ราคา</th>
               </tr>
               <tbody>
                <tr *ngFor="let spare of pagedData; let rowIndex = index">
                  <td class="text-center">
                    {{ rowIndex + 1 }}
                  </td>
                  <td class="text-center">
                    <a [routerLink]="['detail', spare.spareId]" [state]="{ taskNo: spare.spareId }">{{ spare.spareId }}</a>
                  </td>
                  <td class="text-center">
                    {{ spare.spareName }}
                  </td>
                  <td class="text-right">
                    {{ spare.quantity | number : '0.2-2'}}
                  </td>
                  <td class="text-right">
                    {{ spare.spareBal | number : '0.2-2'}}
                  </td>
                  <td class="text-right">
                    {{ spare.sparePrice | number : '0.2-2'}}
                  </td>
                </tr>
              </tbody>
           </table>
           <mat-paginator 
               [length]="spareData.length"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="onPageChange($event)">
            </mat-paginator>
         </div>
       </div>
     </div>
   </div>
  </div>



