<mat-toolbar color="primary" class="mat-elevation-z4">
    <a mat-button routerLink="home" style="text-decoration: none;">
        <h3>
            <fa-icon [icon]="faWrench"></fa-icon>
            Viriyont
        </h3>
    </a>

    <div class="spacer"> </div>
    <div style="font-size: medium;"> 
    <a mat-button routerLink="/home" style="text-decoration: none;"><mat-icon >home</mat-icon>หน้าแรก</a>
    <a mat-button routerLink="/emp" style="text-decoration: none;"><mat-icon >engineering</mat-icon>พนักงาน</a>
    <a mat-button routerLink="/spare" style="text-decoration: none;"><mat-icon >list</mat-icon>อะไหล่</a>
    </div>
    

</mat-toolbar>
  