<mat-toolbar color="primary" class="mat-elevation-z4">
    <a mat-button routerLink="home" style="text-decoration: none;"><span><mat-icon>build</mat-icon>Viriyont</span></a>

    <div class="spacer"> </div>
    <a mat-button routerLink="/home" style="text-decoration: none;"><mat-icon >home</mat-icon>หน้าแรก</a>
    <a mat-button routerLink="/emp" style="text-decoration: none;"><mat-icon >engineering</mat-icon>พนักงาน</a>
    <a mat-button routerLink="/spare" style="text-decoration: none;"><mat-icon >list</mat-icon>อะไหล่</a>

    

</mat-toolbar>
  