<div fxLayoutAlign="center center" fxFlexFill class="main div">
    <mat-card fxFlex="40" >
      <mat-toolbar color="primary" fxLayoutAlign="center center">
        เข้าสู่ระบบ
      </mat-toolbar>
      
        
          <form fxFlexAlight="stretch" fxLayout="column" class="login-form">
            <div class="form-floating" >
              <input  class="form-control" id="floatingInput" placeholder="เบอร์โทรศํพท์">
              <label for="floatingInput">เบอร์โทรศํพท์</label>
            </div>
            <br />

            <div class="form-floating" >
              <input  class="form-control" id="floatingInput" placeholder="รหัสผ่าน">
              <label for="floatingInput"> รหัสผ่าน </label>
            </div>
            <br />

            <button class="btn btn-primary auto p-3" routerLink="/emp-detail">ล็อกอิน</button>
          </form>
         
    </mat-card>

</div>
