<div fxLayoutAlign="center">
  
  <mat-card fxFlex="30">
      <h4 class="text-center py-3">เข้าสู่ระบบ</h4>

      <form fxFlexAlight="stretch" fxLayout="column" class="login-form">
        <div class="form-floating">
          <input  class="form-control" id="floatingInput" placeholder="เบอร์โทรศํพท์">
          <label for="floatingInput">เบอร์โทรศัพท์</label>
        </div>
        <div class="form-floating">
          <input  class="form-control" id="floatingInput" placeholder="รหัสผ่าน">
          <label for="floatingInput"> รหัสผ่าน </label>
        </div>
      </form>

      <a href="#" class="text-center" style="margin-top: 20px;"  routerLink="/register">
        สมัครสมาชิก
      </a>
      <button class="btn btn-primary" style="margin-top: 20px;" routerLink="/task">
        เข้าสู่ระบบ
      </button>
  </mat-card>

</div>

