<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  

  <div class="card text">
    <div class="card-header fw-bold fs-4 " >
      VIRAYONT GARAGE 
    </div>
    

<!-- Fsframe -->
    <div class="card-body" class="login-form">
      <p class="card-title" class="fs-5 "> รายละเอียดการซ่อม </p>
      
        <div class=" text-center">
        <div class="container w-50 p-2">
          <div class="col p-2  "  >
            ID รายละเอียดการซ่อม 
          </div>
          <div class="input-group   " >
            <input type="text" class="form-control" placeholder="ID " aria-label="ID " aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">ค้นหา</button>
          </div>
        </div>
        </div>
    </div>
  </div>

<!-- Secframe -->
  <div class="card" >
    <div class="card-body">
      <h1 class="card-title" class="text-center">รายละเอียดการซ่อม</h1>

      <div class="container ">
        <div class="row ">
          <div class="col">
            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">รถ</span>
              <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
          </div>

          <div class="col">
            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">ทะเบียน</span>
              <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
          </div>
          

        </div>
        <div class="row "> 
          <div class="col">
            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">วันที่เข้าอู่</span>
              <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
          </div>

          <div class="col">
            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">วันนัดรับ</span>
              <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
          </div><br/>
          <div class="input-group flex-nowrap">
            <span class="input-group-text" id="inputGroup-sizing-default">รายละเอียดการซ่อม</span>
              <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>

      </div> 
      <div class=" text-center">
        <div class="mx-auto p-4" >
            <button type="button" class="btn btn-info"> เพิ่ม </button>
         </div> 
      </div>
    </div>
   </div>   




<!-- Thframe -->
  <div class="card" >
    <p class="card-title" class="fs-5 "> รายการซ่อม </p>

    <form fxFlexAlight="stretch" fxLayout="column" class="login-form">
      <br />
      <div class="input-group input-group-default">
        <span class="input-group-text" id="inputGroup-sizing-default">1</span>
        <span class="input-group-text">ID อะไหล่ </span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
        <span class="input-group-text">จำนวน </span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
        <button class="btn btn-outline-secondary" type="button" id="button-addon1">ยืนยัน</button>
      </div>
      <br />
      <div class="input-group input-group-default">
        <span class="input-group-text" id="inputGroup-sizing-default">2</span>
        <span class="input-group-text">ID อะไหล่ </span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
        <span class="input-group-text">จำนวน </span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
        <button class="btn btn-outline-secondary" type="button" id="button-addon1">ยืนยัน</button>
      </div>
      <br />
      <div class="input-group input-group-default">
        <span class="input-group-text" id="inputGroup-sizing-default">3</span>
        <span class="input-group-text">ID อะไหล่ </span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
        <span class="input-group-text">จำนวน </span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
        <button class="btn btn-outline-secondary" type="button" id="button-addon1">ยืนยัน</button>
      </div>
      <br />
      <div class="input-group input-group-default">
        <span class="input-group-text" id="inputGroup-sizing-default">4</span>
        <span class="input-group-text">ID อะไหล่ </span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
        <span class="input-group-text">จำนวน </span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
        <button class="btn btn-outline-secondary" type="button" id="button-addon1">ยืนยัน</button>
      </div>
      <br />
      <div class="input-group input-group-default">
        <span class="input-group-text" id="inputGroup-sizing-default">5</span>
        <span class="input-group-text">ID อะไหล่ </span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
        <span class="input-group-text">จำนวน </span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
        <button class="btn btn-outline-secondary" type="button" id="button-addon1">ยืนยัน</button>
      </div>
      <br />
      <div class="input-group input-group-default">
        <span class="input-group-text" id="inputGroup-sizing-default">ค่าบริการ</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
      </div>
      <br />
      <div class=" text-center">
        <div class="mx-auto p-4" >
            <button type="button" class="btn btn-info"> ยืนยัน </button>
         </div> 
      </div>

        
    </form>
  </div>  
  </div>

  
  
  
</body>
</html>










