<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src=" ../assets/images/V.png " alt="" width="90" height="100">
        <h1 class="display-5 fw-bold text-body-emphasis">วิริยนต์</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4"> ร้าน วิริยนต์ เริ่มต้นกิจการตั้งแต่ปี 1991, มีความเชี่ยวชาญในการซ่อมแซมระบบไฟรถยนต์ <br/>โดยช่างมืออาชีพที่มีประสบการณ์มากกว่า 30 ปี ทำให้การบริการมีคุณภาพ
            <br/>และเราจะรักษาความน่าเชื่อถือและความพึงพอใจของลูกค้าเป็นสำคัญ
            <br/>ทีมงานของเราสามารถแก้ปัญหาระบบรถยนต์สันดาปทุกประเภทและระบบ ECU ในอนาคต 
            <br/>และเราพัฒนาตลอดเวลาด้วยการปรับปรุงเทคโนโลยีและวิธีการในการบริการลูกค้า
            <br/>เรามุ่งหวังที่จะคว้าความสำเร็จและประสิทธิภาพในการดำเนินธุรกิจและ
            <br/>ต้องการที่จะรักษาลำดับคุณภาพในอุตสาหกรรมอู่ซ่อมรถ </p>
          
        </div>
      </div>

      <div class="container px-4 py-5" id="hanging-icons">
        <h2 class="pb-2 border-bottom">เมนู</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
          <div class="col d-flex align-items-start">
            <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 15 15">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                  </svg>
            </div>
            <div>
              <h3 class="fs-2 text-body-emphasis">ล็อกอินลูกค้า</h3>
              <p> หน้าล็อกอินของลูกค้าใช้เข้าสู่ระบบ เพื่อใช้งานบริการของทางร้าน</p>
              <a href="#" class="btn btn-primary" routerLink="/cus">
                เข้าไป
              </a>
            </div>
          </div>


          <div class="col d-flex align-items-start">
            <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-fill-gear" viewBox="0 0 16 16">
                    <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Zm9.886-3.54c.18-.613 1.048-.613 1.229 0l.043.148a.64.64 0 0 0 .921.382l.136-.074c.561-.306 1.175.308.87.869l-.075.136a.64.64 0 0 0 .382.92l.149.045c.612.18.612 1.048 0 1.229l-.15.043a.64.64 0 0 0-.38.921l.074.136c.305.561-.309 1.175-.87.87l-.136-.075a.64.64 0 0 0-.92.382l-.045.149c-.18.612-1.048.612-1.229 0l-.043-.15a.64.64 0 0 0-.921-.38l-.136.074c-.561.305-1.175-.309-.87-.87l.075-.136a.64.64 0 0 0-.382-.92l-.148-.045c-.613-.18-.613-1.048 0-1.229l.148-.043a.64.64 0 0 0 .382-.921l-.074-.136c-.306-.561.308-1.175.869-.87l.136.075a.64.64 0 0 0 .92-.382l.045-.148ZM14 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0Z"/>
                  </svg>
            </div>
            <div>
              <h3 class="fs-2 text-body-emphasis">ล็อกอินพนักงาน</h3>
              <p> หน้าล็อกอินสำหรับพนักงาน</p>
              <a href="#" class="btn btn-primary" routerLink="/emp">
                เข้าไป
              </a>
            </div>
          </div>



          <div class="col d-flex align-items-start">
            <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-pass-fill" viewBox="0 0 15 15">
                    <path d="M10 0a2 2 0 1 1-4 0H3.5A1.5 1.5 0 0 0 2 1.5v13A1.5 1.5 0 0 0 3.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-13A1.5 1.5 0 0 0 12.5 0H10ZM4.5 5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1Zm0 2h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1 0-1Z"/>
                  </svg>
            </div>
            <div>
              <h3 class="fs-2 text-body-emphasis">รายละเอียดการซ่อม</h3>
              <p> หน้าสำหรับตรวจสอบรายละเอียดการซ่อม</p>
              <a href="#" class="btn btn-primary" routerLink="/task">
                เข้าไป
              </a>
            </div>
          </div>
        </div>
      </div>


      


  <div class="container">
    <footer class="py-3 my-4">
       
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a class="nav-link px-2 text-body-secondary">เบอร์ติดต่อ 044-515-288</a></li>
            <li class="nav-item"><a href="https://maps.app.goo.gl/NkLDHwYCpft64K3s8" class="nav-link px-2 text-body-secondary">Google Map</a></li>
            
          </ul>
    </footer>
  </div>
    
</body>
</html>
  

  