<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src=" ../assets/images/V.png " alt="" width="90" height="100">
        <h1 class="display-5 fw-bold text-body-emphasis">วิริยนต์</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4"> ร้าน วิริยนต์ เริ่มต้นกิจการตั้งแต่ปี 1991, มีความเชี่ยวชาญในการซ่อมแซมระบบไฟรถยนต์ 
            โดยช่างมืออาชีพที่มีประสบการณ์มากกว่า 30 ปี ทำให้การบริการมีคุณภาพ
            และเราจะรักษาความน่าเชื่อถือและความพึงพอใจของลูกค้าเป็นสำคัญ
            ทีมงานของเราสามารถแก้ปัญหาระบบรถยนต์สันดาปทุกประเภทและระบบ ECU ในอนาคต 
            และเราพัฒนาตลอดเวลาด้วยการปรับปรุงเทคโนโลยีและวิธีการในการบริการลูกค้า
            เรามุ่งหวังที่จะคว้าความสำเร็จและประสิทธิภาพในการดำเนินธุรกิจและ
            ต้องการที่จะรักษาลำดับคุณภาพในอุตสาหกรรมอู่ซ่อมรถ </p>
          
        </div>
      </div>

<!------------------------------- เมนู ------------------------------->

      <div class="container px-4 py-5" id="hanging-icons">
        <h2 class="pb-2 border-bottom">เมนู</h2>

        <div class="row g-5 py-5 row-cols-1 row-cols-lg-3">
          
          <!-- <div class="col d-flex align-items-start"> -->

            <div class="mx-3">
              <h3 class="fs-2 text-body-emphasis">
                <fa-icon [icon]="user"></fa-icon>
                ล็อกอินลูกค้า
              </h3>
              <p> หน้าล็อกอินของลูกค้าใช้เข้าสู่ระบบ เพื่อใช้งานบริการของทางร้าน</p>
              <div class="text-end">
              <a href="#" class="btn btn-primary" style="width: 100px;" routerLink="/cus">
                เข้าไป
              </a>
              </div>
            </div>

          <!-- </div> -->

          <!-- <div class="col d-flex align-items-start"> -->
            <div class="mx-3">

                <h3 class="fs-2 text-body-emphasis">
                  <fa-icon [icon]="admin"></fa-icon>
                  Admin
                </h3>
              <p> หน้าสำหรับตรวจสอบรายละเอียดการซ่อม</p>
              <div class="text-end">
              <a href="#" class="btn btn-primary" style="width: 100px;" routerLink="/admin">
                เข้าไป
              </a>
              </div>

            </div>
          <!-- </div> -->
        </div>

      </div>


<!------------------------------- footer ------------------------------->
  <div class="container">
    <footer class="py-3 my-4">
       
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a class="nav-link px-2 text-body-secondary">เบอร์ติดต่อ 044-515-288</a></li>
            <li class="nav-item"><a href="https://maps.app.goo.gl/NkLDHwYCpft64K3s8" class="nav-link px-2 text-body-secondary">Google Map</a></li>
            
          </ul>
    </footer>
  </div>
    
</body>
</html>
  

  