<div fxLayoutAlign="center">
  
  <mat-card fxFlex="30">
      <h4 class="text-center py-3">สมัครสมาชิก</h4>

      <form fxFlexAlight="stretch" fxLayout="column" class="login-form">
        <div class="form-floating">
          <input  class="form-control" id="floatingInput" placeholder="เบอร์โทรศํพท์">
          <label for="floatingInput">เบอร์โทรศัพท์</label>
        </div>
        <div class="form-floating">
          <input  class="form-control" id="floatingInput" placeholder="ชื่อ">
          <label for="floatingInput"> ชื่อ </label>
        </div>
        <div class="form-floating">
          <input  class="form-control" id="floatingInput" placeholder="นามสกุล">
          <label for="floatingInput">นามสกุล</label>
        </div>
        <div class="form-floating">
          <input  class="form-control" id="floatingInput" placeholder="บริษัท(ถ้ามี)">
          <label for="floatingInput">บริษัท(ถ้ามี)</label>
        </div>
        <div class="form-floating">
          <input  class="form-control" id="floatingInput" placeholder="ที่อยู่">
          <label for="floatingInput">ที่อยู่</label>
        </div>
      </form>

      <button class="btn btn-primary" style="margin-top: 20px;" routerLink="/login">
        สมัครสมาชิก
      </button>
  </mat-card>

</div>
