<h5 class="program-title"> {{'พนักงาน'}} </h5>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="form-group col-lg-10 col-md-10">
              <h5 class="card-title">{{'รายชื่อพนักงาน'}}</h5>
            </div>
            <div class="form-group col-lg-2 col-md-2 add-btn">
              <button class="btn btn-primary" routerLink="/emp-pdetail" >
                <fa-icon [icon]="add"></fa-icon>
                 {{ 'เพิ่มเอกสาร' }}
              </button>
            </div>
          </div><br>

          <div class="app-table">
            <table class="table table-striped app-table">
              <thead>
                <tr>
                  <th class="text-center" [style.width.px]="70">ลำดับ</th>
                  <th class="text-center" [style.width.px]="200">ชื่อ-นาสกุล</th>
                  <th class="text-center" [style.width.px]="80">เงินเดือน</th>
                  <th class="text-center" [style.width.px]="80">ตำแหน่ง</th>
                </tr>
              </thead>

              <!-- <tbody>
                <tr *ngFor="let task of pagedData">
                  <td class="text-center">
                    {{ task.seq }}
                  </td>

                  <td class="text-center">
                    <a [routerLink]="['detail', task.taskNo]" [state]="{ taskNo: task.taskNo }">{{ task.taskNo }}</a>
                    {{ task.taskNo }}
                  </td>
                  <td class="text-center">
                    {{ task.taskDate }}
                  </td>
                  <td>
                    {{ task.cusName }}
                  </td>
                  <td class="text-right">
                    {{ task.taskAmt | number : '0.2-2'}}
                  </td>
                  <td class="text-center">
                    <div class="status-center" [ngClass]="{
                           'status-border-saved': task.status === 'SAVED',
                           'status-border-in-progress': task.status === 'IN_PROGRESS',
                           'status-border-complete': task.status === 'COMPLETE',
                           'status-border-cancel': task.status === 'CANCELLED'
                         }">
                      {{ task.status }}
                    </div>
                  </td>
                </tr>
              </tbody> -->
            </table>
            <!-- <mat-paginator 
               [length]="taskdata.length"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="onPageChange($event)">
            </mat-paginator> -->
          </div>
        </div>
      </div>
    </div>
  </div>